<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/tables.css')}}">
    <script defer src="{{url_for('static', filename='js/modal.js')}}"></script>
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body>
    <nav class="nav flex">
        <div class="nav_title">
            Site Walkthrough
        </div>
        <div class="nav_menu">
            <ul class="menu flex">
                <li class="menu_link"><a href="{{url_for('home_page')}}">Home</a></li>
                <li class="menu_link"><a href="{{url_for('companies_page')}}">Companies</a></li>
            </ul>
        </div>
        <div class="nav_login-options">
            <ul class="menu">
                <li class="menu_link">
                    <a href="#" class="btn--login">Log In</a>
                </li>
            </ul>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert--{{ category }}">
                <a href="#" class="btn--close">&times;</a>
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <main class="main center flex-col">
        <!-- <button class="btn btn--primary"></button> -->
        {% block new_form_btn %}

        {% endblock %}
        <div class="table-container">
            <div class="table_title">
                {% block table_title %}
    
                {% endblock %}
            </div>
            <table class="table">
                    <thead>
                        <tr>
                            {% block table_headings %}
        
                            {% endblock %}
                        </tr>
                    </thead>
                    <tbody>
                            {% block table_data %}
                            
                            {% endblock %}
                    </tbody>
            </table>
        </div>
    </main>
</body>
</html>


