{% extends 'base_tables.html' %}

{% block title %}
    Companies Page
{% endblock %}

{% block table_title %}
    Companies
{% endblock %}

{% block new_form_btn %}
    {% include 'includes/company_modals.html' %}
    <button class="btn btn--primary" id="btn--newCompany">New Company</button>
{% endblock %}

{% block table_headings %}
    <th scope="col">Name</th>
    <th scope="col">Options</th>
    <th scope="col"># Locations</th>
{% endblock %}

{% block table_data %}
    {% for company in companies %}
        <tr>
            <td><a href="{{url_for('locations_page', company_name=company.name)}}" class="company-link">{{ company.name }}</a></td>
            <td>
                {% include 'includes/deleteCompany_modal.html' %}
                <button class="btn btn--danger btn--delCompany" data-target="#modal--delCompany--{{company.id}}">Delete Company</button>
            </td>
            <!-- <td><a href="#" class="company-locations"></a></td> -->
        </tr>
    {% endfor %}
{% endblock %}