{% extends 'base_tables.html' %}

{% block title %}
    Locations Page
{% endblock %}

{% block table_title %}
    Locations
{% endblock %}

{% block new_form_btn %}
    {% include 'includes/location_modals.html' %}
    <button class="btn btn--primary" id="btn--newLocation">New Location</button>
{% endblock %}

{% block table_headings %}
    <th scope="col">City</th>
    <th scope="col">State</th>
    <th scope="col">Options</th>
    <th scope="col"># Sites</th>
{% endblock %}

{% block table_data %}
    {% for location in locations %}
    {% include 'includes/deleteLocation_modal.html' %}
        <tr>
            <td><a href="#" class="location-link">{{ location.city }}</a></td>
            <td><a href="#" class="location-link">{{ location.state }}</a></td>
            <td>
                <button class="btn btn--danger btn--delLocation" data-target="#modal--delLocation--{{location.id}}">Delete Location</button>
                <a class="btn btn--primary" href="{{url_for('sites_page')}}">View Location</a>
            </td>
            <!-- <td><a href="#" class="location-sites"></a></td> -->
        </tr>
    {% endfor %}
{% endblock %}