<!-- Creating a New Company -->
<!-- Based on 850 Consulting -->
<div class="modal hidden" id="modal--newCompany" aria-hidden="true">
    <form method="post" class="form">
        {{ form.hidden_tag() }}
        <h1 class="form_title">New Company</h1>
        <div class="form_fields">
            <div class="input-group">
                {{ form.company_name.label() }}
                {{ form.company_name() }}
            </div>
        </div>
        <div class="form_buttons">
            {{ form.submit(class="btn btn--primary")}}
            <button class="btn btn--secondary btn--cancel">Cancel</button>
        </div>
    </form>
</div>
